# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python_misos\white_line_detection_football_field\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
